  
.production
  .finalize
    .plan-name#plan-name Scalabless App
    .cost#plan-cost 49
    .arrow-button.continue.lifecycle Continue
  .icon-choices.lexi
    each plan in plans
      .choice(id="#{plan.id}" class=plan.is_disabled ? "disabled" : "")
        label
          .icon-choice.little-brother.pre-prod
            .icon
              img.shadow-icon(data-src="plan-#{plan.id}")
              .micro-title #{plan.name}
            input(value="#{plan.id}" type="radio" name="plan")
            .cost= plan.max_price
            .description!= plan.displayDescription
            .blurb 
              each feature in plan.displayFeatures
                .feature= feature
